//@use 'src/styles';
#program-desc-table {
  border-collapse: separate;
  td:nth-child(2) {
    padding-left: 1rem;
  }

  td:nth-child(2) {
    font-weight: 500;
  }
}

.icon-row {
  div {
    &:not(:first-child) {
      //@extend .ms-3
    }
  }

  span {
    //@extend .ps-1, .fs-6
  }

  .paid-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: #689F38;
  }

  .booking-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: #d79001;
  }
}
