<div class="modal-content" id="add-record-modal-component">
  <div class="modal-header">
    <h1 class="modal-title fs-4">Новая запись расписания</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
  </div>
  <div class="modal-body fs-5">
    <div id="record-params" class="px-0">
      <div class="d-flex justify-content-between w-100 px-5">
        <div (click)="onDayClick(day)" *ngFor="let day of weekdays" class="day-pill position-relative rounded-circle d-flex align-items-center"
             id="day_{{day.getUTCDay()}}" rippleOnHover [persistent]="true">
          <span class="text-uppercase text-center d-block m-auto">
            {{day | date:'EE':'':'ru'}}
          </span>
        </div>
      </div>
      <table class="py-3" id="record-params-table">
        <tr>
          <td><label for="begin-time-input">Начало занятия:</label></td>
          <td><input placeholder="10:00" id="begin-time-input" [formControl]="recordCreationForm.controls.daytimeControl" [imask]="daytime_mask" type="text" class="text-center me-5 form-control fs-5"></td>
        </tr>
        <tr class="mt-2">
          <td><label for="duration-input">Длительность:</label></td>
          <td><input placeholder="60" id="duration-input" [formControl]="recordCreationForm.controls.durationControl" [imask]="duration_mask" type="text" class="text-center form-control fs-5"></td>
        </tr>
      </table>
    </div>
    <div id="program-params" class="ms-4 mt-3">
      <app-autocomplete class="d-inline-block" placeholder="Программа" [formControl]="programControl"
                        [options]="programs" display_property="name" [disabled]="onCreateProgram"></app-autocomplete>
      <button (click)="toggleProgramCreation()" mat-mini-fab color="primary" class="ms-4"><mat-icon>{{(!onCreateProgram) ? 'add': 'remove'}}</mat-icon></button>
      <app-program-overview [program]="program" *ngIf="program && !onCreateProgram"></app-program-overview>
      <mat-progress-bar *ngIf="programCreation_pbar_shown" mode="query" class="w-75"></mat-progress-bar>
    </div>
    <mat-expansion-panel #program_creation_panel style="box-shadow: none">
      <ng-template matExpansionPanelContent>
        <p>Создать новую программу</p>
        <mat-form-field appearance="fill" class="d-block">
          <input matInput [formControl]="programCreationForm.controls.name" placeholder="Название" type="text" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="" style="width: 195px">
          <mat-label>Категория</mat-label>
          <mat-select [formControl]="programCreationForm.controls.category" required>
            <mat-option *ngFor="let category of categories" [value]="category.name">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="d-inline-block float-end" style="width: 200px">
          <mat-label>Помещение</mat-label>
          <mat-select [formControl]="programCreationForm.controls.placement" required>
            <mat-option *ngFor="let placement of placements" [value]="placement.name">
              {{placement.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-autocomplete width="100%" [formControl]="programCreationForm.controls.instructor" [options]="instructors!"
                          display_property="credentials" placeholder="Инструктор"></app-autocomplete>
        <div class="d-inline-flex">
          <div><mat-checkbox [(ngModel)]="paid"></mat-checkbox><span>Платное</span></div>
          <div><mat-checkbox [(ngModel)]="enable_registration" class="ms-2"></mat-checkbox><span>По записи</span></div>
        </div>
        <div class="d-flex pb-1 mt-2" id="program_creation_additional_options">
          <div>
            <span class="ms-2">Мест:</span>
            <input type="number" [attr.disabled]="!enable_registration ? '' : null" [formControl]="programCreationForm.controls.place_limit" class="form-control"></div>
          <div>
            <span class="ms-2">Открыть запись за (дней):</span>
            <input type="number" [attr.disabled]="!enable_registration ? '' : null" [formControl]="programCreationForm.controls.registration_opens" class="form-control"></div>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </div>
  <div class="modal-footer fs-5">
    <button mat-raised-button color="primary" (click)="onAddRecord()" [disabled]="!isReadyToAdd()">Добавить</button>
  </div>
</div>
