@use 'src/styles';

th:first-child, th:last-child, td:first-child, td:last-child {
  width: 55px;
}
td {
  vertical-align: top;
}
th {
  height: 42px;
  border-left: 1px solid #dedede;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  font-weight: normal;
}
table {
  width: 100%;
  table-layout: fixed;
  @include styles.no-select
}
th:first-child {
  border-left: none;
}
tr:nth-child(even) {
  background: #f8f8f8;
}
ul {
  padding: 0;
  margin: 3px 0;
}
.qwe:nth-child(even) {
  margin-top: 3px;
}
#dates-table-header {
  border-bottom: 1px solid #dedede;
}

@keyframes append-animate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.added {
  animation: append-animate .3s linear;
}

#schedule_table {
  //display: block;
  //overflow-y: scroll;
  //height: calc(100vh - 60px);
}
#schedule_table::-webkit-scrollbar {
  width: 10px;
}
#schedule_table::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
}
