img {
  object-fit: scale-down;
  width: 90px;
  height: 120px;
  margin: auto;
}

.photo_replacer {
  width: 70px;
  background: #fbfbfb;
  border-radius: 100%;
  height: unset;
  display: block;
  margin: auto;
}

