<div class="modal-content">
  <div class="modal-header fs-4">
    <h1 class="modal-title fs-4">Инструктора</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
  </div>
  <div class="modal-body fs-5">
    <mat-form-field appearance="fill" class="d-block">
      <input matInput [formControl]="filterControl" type="text" placeholder="Отфильтровать">
    </mat-form-field>
    <ul class="list-group list-group-flush">
      <ng-container *ngFor="let instructor of filtered_instructors">
        <div class="d-flex justify-content-between align-items-center">
          <li rippleOnHover [persistent]="true" (click)="edit_instructor(instructor)"
              class="list-group-item w-100 me-2 no-select">
            <div>{{instructor.credentials}}</div>
            <div class="d-flex align-items-center">
              <mat-icon fontSet="mat-icon-filled" inline class="pe-1">phone</mat-icon>
              {{instructor.phone}}</div>
          </li>
          <div id="action_buttons" class="d-flex align-items-center">
            <div class="position-relative add-photo rounded-circle" (click)="upload_photo(instructor)">
              <div class="p-2 d-flex">
                <mat-icon color="primary">photo_camera</mat-icon>
              </div>
            </div>
            <div class="position-relative delete-category rounded-circle" (click)="delete_instructor(instructor)">
              <div class="p-2 d-flex">
                <mat-icon color="warn">delete</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ul>
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="primary" class="fs-5" (click)="create_instructor()">Добавить</button>
  </div>
</div>

<input type="file" class="file-input d-none" id="file_upload"
       (change)="onFileSelected($event)"  #fileUpload>
