.modal-title {

}

.title-wrapper {
  border-bottom: 3px solid;
}

.modal-header {
  border-bottom: none;
}

.btn-close {
  transform: scale(1.5);
  &:focus {
    --bs-btn-close-focus-shadow: none;
  }
}

img {
  object-fit: scale-down;
  width: 90px;
  height: 120px
}

.modal {
  --bs-modal-width: 480px;
}

.placement {
  color: grey;
}

p {
  margin-bottom: 0.25rem;
}

.photo_replacer {
  width: 70px;
  background: #fbfbfb;
  border-radius: 100%;
  height: unset;
  display: block;
  margin: auto;
}
