li {
  &:hover {
      cursor: pointer;
    }
}

#secondary-schemas {
  li {
    border: none;
    border-bottom: 1px solid;
    border-color: whitesmoke;
  }
}

.delete-category {
  cursor: pointer;
  &:hover {
    background-color: #ad3c3c0d;
    transition: all .1s;
  }
}

.edit_schema {
  cursor: pointer;
  &:hover {
    background-color: #3c74ad0d;
    transition: all .1s;
  }
}

