<div class="modal fade" id="programModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <h3 class="modal-title mb-3 fs-1 text-center">
        <span class="title-wrapper pb-3 px-4" [ngStyle]="{'border-bottom-color': record.program.category.color}">
          {{record.program.name}}
        </span>
      </h3>
      <div class="text-center fs-4 mt-2">
        {{begins | date:'HH:mm'}} - {{ends| date:'HH:mm'}}
      </div>
      <div class="text-center fs-5">
        {{ begins | date:'d MMMM':'':'ru' }}
      </div>
      <div class="modal-body px-5 mt-2">
        <div class="d-table">
          <div class="d-table-cell"><img [src]="photo_url" alt="{{record.program.instructor.credentials}}"></div>
          <div class="d-table-cell align-middle fs-5 ps-1">
            {{record.program.instructor.credentials}}
            <div class="placement">{{record.program.placement.name}}</div>
          </div>
        </div>
        <div class="fs-5 mt-4 text-center" *ngIf="record.program.available_registration">
          <p *ngIf="!record.places_available || !registration_opens_at">По записи</p>
          <ng-container *ngIf="record.places_available != 0; else not_available">
            <p *ngIf="record.places_available">Доступных мест {{record.places_available}}</p>
            <p *ngIf="record.registration_opens_at">Запись открывается {{registration_opens_at | date:'d MMM в HH:mm':'':'ru'}}</p>
          </ng-container>
          <ng-template #not_available><p>Нет доступных мест</p></ng-template>
          <button mat-raised-button class="mt-3" [ngStyle]="{'background-color': record.program.category.color}"
                  data-bs-target="#modalBook" data-bs-toggle="modal">Записать клиента на занятие
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalBook" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="exampleModalToggleLabel2">Запись клиента</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clientControl.setValue('')"></button>
      </div>
      <div class="modal-body">
        <app-autocomplete [display_property]="'name'" [options]="options" width="80%"
                          placeholder="Клиент" [formControl]="clientControl"></app-autocomplete>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#programModal" data-bs-toggle="modal" (click)="clientControl.setValue('')">Back to first</button>
      </div>
    </div>
  </div>
</div>
