<br>
<div style="max-width: 1300px; min-width: 1100px; margin: auto" class="px-xl-3 px-xxl-0">
  <ul class="list-inline fs-5" id="nav-list">
    <li class="list-inline-item">
      <button mat-button (click)="category_modal()">Категории</button>
    </li>
    <li class="list-inline-item">
      <button mat-button (click)="placement_modal()">Помещения</button>
    </li>
    <li class="list-inline-item">
      <button mat-button (click)="instructor_modal()">Инструктора</button>
    </li>
    <li class="list-inline-item">
      <button mat-button (click)="client_modal()">Клиенты</button>
    </li>
    <li class="list-inline-item">
      <button mat-button (click)="program_modal()">Программы</button>
    </li>
    <li class="list-inline-item">
      <button mat-button (click)="staff_modal()">Рецепция</button>
    </li>
    <li class="list-inline-item">
      <button mat-button [matMenuTriggerFor]="menu">Отчеты</button>
      <mat-menu #menu="matMenu" class="fs-5">
        <button mat-menu-item (click)="report_client_modal()">Отчет по клиенту</button>
        <button mat-menu-item (click)="report_program_modal()">Отчет по программам</button>
      </mat-menu>
    </li>
  </ul>
  <app-filter-panel (onFilterSchedule)="filter_schedule($event)" [filters]="filter_service.filters" [hideCheckBoxes]="true">
  <div class="d-inline-flex justify-content-end align-items-center mb-3" style="width: 29%">
    <div class="me-2 w-50 text-center fs-5">
      <button (click)="schemas_modal()" class="py-2 bg-white schema_name">
        <div class="d-flex align-items-center justify-content-center">
          <span class="ellipsis d-block">{{visible_schema.name}}</span>
            <mat-icon style="color: green; overflow: unset" *ngIf="visible_schema.active" class="ms-2">check_circle</mat-icon>
            <mat-icon style="color: darkorange; overflow: unset" *ngIf="visible_schema.id == schedule_schemas.next_week?.id" class="ms-2">more_time</mat-icon>
        </div>
      </button>
    </div>
    <button (click)="open_add_record_modal()" mat-flat-button color="accent" class="me-5 fs-5" style="">Добавить</button>
  </div>
  </app-filter-panel>

  <div id="carouselExample" class="carousel slide" data-bs-wrap="false">
    <div class="carousel-inner">
      <ng-container *ngIf="!selected_custom_schema; else custom_schema">
        <div class="carousel-item active">
          <app-shed-editor-table class="d-block w-100" (onRemoveRecord)="onRemoveRecord($event)"
                                 [periods]="schedule_records.current_week"
                                 [schema]="schedule_schemas.active"></app-shed-editor-table>
        </div>
        <div class="carousel-item">
          <app-shed-editor-table class="d-block w-100" (onCreateNextWeekSchema)="create_next_week()"
                                 (onRemoveRecord)="onRemoveRecord($event)" [periods]="schedule_records.next_week"
                                 [next_week]="true" [schema]="schedule_schemas.next_week"></app-shed-editor-table>
        </div>
      </ng-container>
      <ng-template #custom_schema>
        <div class="carousel-item active">
          <app-shed-editor-table class="d-block w-100" (onRemoveRecord)="onRemoveRecord($event)"
                                 [periods]="schedule_records.custom" [custom_schema]="true"
                                 [schema]="selected_custom_schema"></app-shed-editor-table>
        </div>
      </ng-template>
    </div>
    <button class="sl-b d-flex p-2" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"
            [ngStyle]="{'background-color': (!nw || selected_custom_schema) ? '#f5f3f3' : '#3f51b5'}" [disabled]="!nw || selected_custom_schema" (click)="slide_schema()">
      <mat-icon class="align-self-center" style="color: #dedede">arrow_back_alt</mat-icon>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="sl-b sl-b-next d-flex p-2" type="button" data-bs-target="#carouselExample" data-bs-slide="next"
            [ngStyle]="{'background-color': (nw || selected_custom_schema) ? '#f5f3f3' : '#3f51b5'}" [disabled]="nw || selected_custom_schema" (click)="slide_schema()">
      <mat-icon class="align-self-center" style="color: #dedede">arrow_forward_alt</mat-icon>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
